The Snowdrop team is really pleased to inform you that we're planning to release a new Snowdrop BOM on *{{releaseDate}}*
based on Spring Boot *{{version}}*.

Some of our artifacts depend on your product and would, therefore, need to know which product version we should be
using for this new release which we intend to support until *{{endOfSupportDate}}*.


We expect to start testing our new release based on Spring Boot *{{release.version}}* on *{{dueDate}}*.
We would therefore request a support statement from your team in the form of the following information:
- Product name and version (e.g. JWS - 5.3.1)
- Supported version (e.g. 9.0.30-redhat-00001)
- Date of end of support
- PNC/Indy URL (e.g. [http://indy.psi.redhat.com/browse/maven/]...)
- MRRC URL, if already released (e.g. [https://maven.repository.redhat.com/ga/]...)

Please let us know if the product support will lapse before *{{endOfSupportDate}}*.

Thank you in advance for your help!